/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html {
	background-color: #fff;
	border-top: 10px solid #777;
}

body {
	font-family: Helvetica, sans-serif;
	width: 80%;
	margin: 0 auto;
	text-align: left;
	background-color: #fff;
	padding: 20px 40px;
}

header {
	background-color: #333;
	color: #FFCA00;
	padding: 20px;
	border: 10px solid #777;
	-moz-border-radius: 15px;
			border-radius: 15px;
			margin: 10px;
}

header h1 {
	font-size: 100px;
}

h1, h2 {
	font-family: Helvetica, sans-serif;
	font-size: 40px;
}

nav ul {
	list-style:none;
	margin-left:0;
	padding-left:0;
}

nav li {
	display:inline;
}

header a:link {color: #fff;}
header a:visited {color: #fff;}
header a:hover {color: #fff;}
header a:focus {color: #fff;}

table {
	width: 100%;
}

thead th {
	border-bottom: 10px solid #777;
	text-align: left;
}

th,
td {
	padding: 5px 0;
}

tbody tr {
	background-color: #eee;
}

tbody tr:nth-child(even) {
	background-color: #ddd;
}

a:link {color: #000;}
 a:visited {color: #000;}
 a:hover {color: #000;}
 a:focus {color: #000;}